.navbar{
    background-image: url(assets/kayu1.jpg);
    max-width: 100%;
  }
  
.current-page{
    color :rgb(248, 248, 248) !important;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
  
  }
  
.current-page:hover{
    color :rgb(0, 0, 0) !important;
    transition: 0.4s;
    background-color:#D2B48C;
  }

.warna-button{
    background-color: #A0522D !important;
    color: aliceblue !important;
 }
    