*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
  }
  

.body{
    background-color: rgb(79, 207, 96);
  }

span{
    color: rgb(255, 255, 255);
}

#title_web {
    color: rgb(97, 243, 30);
}

.market{
  color: rgb(227, 233, 215);
}

#nav-right{
  padding-left: 5px;
}

.container{
  margin-top: 55px;
}

