*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #D2B48C !important;
}

#container-profile{
    /* display: block; */
    margin-left: 15%;
    border-width: 5px;
}


#identitas{
    border: double;
    margin-left: 10%;
    margin-right: 20%;
    justify-content: space-around;
    border-radius: 20px;
    border-color: #a77917;
    border-width: 10px;
    background-color:  #ebdac3;
    

}

.form-control:focus {
    box-shadow: none;
    border-color: #49eb33
}

.profile-button {
    background: rgb(221, 255, 224);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #838107
}

.profile-button:focus {
    background: #a78a0b;
    box-shadow: none
}

.profile-button:active {
    background: #aa6806;
    box-shadow: none
}

.back:hover {
    color: #6e540a;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.navbar{
    background-image: url(assets/kayu1.jpg);
    max-width: 100%;
  }
  
  .current-page{
    color :rgb(248, 248, 248) !important;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
  
  }
  
  .current-page:hover{
    color :rgb(0, 0, 0) !important;
    transition: 0.4s;
    background-color:#D2B48C;
  }

  .warna-button{
    background-color: #A0522D !important;
    color: aliceblue !important;
 }

#footer{
    background-color: #D2B48C !important;
 }
    
  