*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    
  }

body {
    background-color: #D2B48C !important;
}

.deskripsi{
   font-size: large;
}

.slide{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.navbar{
  background-image: url(assets/kayu1.jpg);
  max-width: 100%;
}

.current-page{
  color :rgb(248, 248, 248) !important;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 15px;

}

.current-page:hover{
  color :rgb(0, 0, 0) !important;
  transition: 0.4s;
  background-color:#D2B48C;
}

.container{
  border: none;
  justify-content: space-around;

}

.allColor{
  color: rgb(255, 255, 255);
}

/* SayurBuah */
.card{
  background-color: rgb(116, 212, 71);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer{
  background-color: #D2B48C !important;
}

 
