*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
    
  }
  

.body{
    background-image: rgb(79, 207, 96);
  }

.deskripsi{
   font-size: large;

}

.container{
  border: none;
  justify-content: space-around;

}

.allColor{
  color: rgb(255, 255, 255);
}

/* SayurBuah */
.card{
  background-color: rgb(116, 212, 71);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 
